:root {
  --primary-color: green;
  --margin: 10px;
}

h1 {
  --margin: 30px;
  /* higher precedence, so its gonna overwrite */
  margin: var(--margin, 20px);
  /* variable, default_value */
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
}

p {
  margin: var(--margin, 20px);
  /* variable, default_value */
  color: var(--primary-color);
}
