div {
  font-weight: bold;
  font-size: 400%;
  color: green;
}

/* Same as @media (max-width: 700px) short form */
@media all and (max-width: 700px) {
  div {
    color: blue;
  }
}

/* @media (orientation: landscape) */
